<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- La conexión real se inyecta desde HibernateUtil con SQL Server. -->
        <mapping class="ec.edu.epn.modelo.Usuario"/>
        <mapping class="ec.edu.epn.modelo.MateriaCatalogo"/>
        <mapping class="ec.edu.epn.modelo.Horario"/>
        <mapping class="ec.edu.epn.modelo.SolicitudTutoria"/>
    </session-factory>
</hibernate-configuration>
